# Ignore ML_APP directory
scripts/
*.C
*.cpp
*.sh
*.h

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи и базы данных
*.log
*.sqlite3
*.db

# Конфиденциальные данные
.env
*.env
*.key
*.enc

# Дистрибутивы и бинарники
dist/
build/
*.egg-info/
*.egg